cmake-build-debug
cmake-build-release
version/PDB-1164.txt
cvdump.exe
PDB导出工具.exe
*.txt
.vscode
.idea
build
include/
api/math/
doc/
version/*
*.exe
.idea/workspace.xml
.idea/TrapDoor.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
venv/
log/
/.vs
/CMakeFiles
/Debug
/Release
/x64
/trapdoor-0.9.48-1.17.1.01.dir/Release
/trapdoor-0.9.48-1.16.221.01.dir
/trapdoor.dir
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/trapdoor.vcxproj.user
/trapdoor.vcxproj.filters
/trapdoor.vcxproj
/trapdoor-0.9.48-1.17.1.01.vcxproj.user
/trapdoor-0.9.48-1.17.1.01.vcxproj.filters
/trapdoor-0.9.48-1.17.1.01.vcxproj
/trapdoor-0.9.48-1.16.221.01.vcxproj.user
/trapdoor-0.9.48-1.16.221.01.vcxproj.filters
/trapdoor-0.9.48-1.16.221.01.vcxproj
/mod.sln
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/trapdoor-0.9.50-1.17.1.01.dir/Release
/trapdoor-0.9.50-1.17.1.01.vcxproj.filters
/trapdoor-0.9.50-1.17.1.01.vcxproj
*.zip
/vsbuild
/sym