cmake-build-debug
cmake-build-release
version/PDB-1164.txt
cvdump.exe
PDB导出工具.exe
.vscode
.idea
build
include/
api/math/
doc/
version/*
*.exe
.idea/workspace.xml
.idea/TrapDoor.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
*.zip
venv/
log/
/vsbuild